<div class='container'>
  <div class='row'>
    <div class= "col-7 m-0 p-0 mx-auto">
       <h2><%= @genre.name %>一覧（全<%= @posts.count %>件)</h2>
         <table class="table table-hover ">
        <% @posts.each do |post| %>
          <tbody>
	  	   	  <tr>
              <td>
                <%= post.created_at.strftime('%Y/%m/%d') %><%= link_to member_path(post.member) do %><%= post.member.name %><% end %><br>
                <%= post.title %><br>
                ♥<%= post.favorites.count %><br>
                <%= render_with_hashtags(post.tags) %>
              </td>
	  	  	  </tr>
  	  	  </tbody>
  	  	<% end %>
      </table>
       </div>

    <div class="card card float-right" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><strong>ジャンル一覧</strong></h5>
        <p class="card-text"><%= render 'homes/genre', genres: @genres %></p>
      </div>
    </div>
