
　　　<div class="row">
　　　  <label>タイトル</label>
　　　  <%= @post.title %>
　　　</div>
　　　<div class="row">
　　　  <label>ジャンル</label>
　　　 <%= @post.genre.name %>
　　　</div>
　　　<div class="row">
　　　  <label>本文</label>
　　　 <%== @post.article %>
　　　 <!--エスケープ処理-->
　　　</div>
　　　
　　　<div class="row">
　　　  <label>引用記事リンク</label>
　　　  <%= @post.link %>
　　　</div>

　　　  <% if @post.favorited_by?(current_member) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>

  <%= comment.member.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% if comment.member == current_member %>
  <div>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
  </div>
  <% end %>
  <% end %>
</div>
<div>
<%= form_with(model:[@post, @comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
