 <p class=><strong>コメント件数：<%= @post.comments.count %></strong></p>
 <% post.comments.each do |comment| %>
    <%= comment.created_at.strftime('%Y/%m/%d') %> <%= comment.member.name %><br>
    <%= comment.comment %>
    <% if comment.member == current_member %>
  <div>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true %>
  </div>
    <% end %>
  <% end %>