<div class="container mt-5 ">
  <div class="row">
    <div class= "col-6 m-0 p-0 mx-auto">
    <h2>StockDots</h2>
      <table class="table table-hover ">
        <% @posts.each do |post| %>
          <tbody>
	  	   	  <tr>
              <td>
                <%= post.created_at.strftime('%Y/%m/%d') %>に投稿<%= link_to member_path(post.member) do %><%= post.member.name %><% end %><br>
                <%= link_to post_path(post.id) do %><strong><%= post.title %></strong><% end %><br>
                <i class="fas fa-heart" style="color :#FF0033;"></i><%= post.favorites.count %><br>
                <%= render_with_hashtags(post.tags) %>
              </td>
	  	  	  </tr>
  	  	  </tbody>
  	  	<% end %>

      </table>
      <div class='kaminari '>
      <%= paginate @posts %>
      </div>
    </div>


    <div class="card card float-right" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><strong>ジャンル</strong></h5>
        <p class="card-text"><%= render 'genre', genres: @genres %></p>
      </div>
    </div>







