   <div class="container px-5 px-sm-0">
  <div class="row">
    <% if member_signed_in? %>
    <div class="col-3 card card float-right" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><strong>Member</strong></h5>
        <p class="card-text"><%= render 'member/members/info', member: @member, post: @post %></p>
      </div>
    </div>
    <% end%>

    <div class= "col-7 m-0 p-0 mx-auto">
    <h2>投稿一覧</h2>
      <table class="table table-hover ">
        <% @posts.each do |post| %>
          <tbody>
	  	   	  <tr>
              <td>
                <%= post.created_at.strftime('%Y/%m/%d') %><%= link_to member_path(post.member) do %><%= post.member.name %><% end %><br>
                <%= link_to post_path(post.id) do %><%= post.title %><% end %><br>
                ♥<%= post.favorites.count %><br>
                <%= render_with_hashtags(post.tags) %>
              </td>
	  	  	  </tr>
  	  	  </tbody>
  	  	<% end %>
      </table>
    </div>
    
    <div class="col-2 card card float-right" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><strong>ジャンル一覧</strong></h5>
        <p class="card-text"><%= render 'homes/genre', genres: @genres %></p>
      </div>
    </div>
  </div>
  </div>