<div class="container mt-5">
  <div class="row">
    <% if member_signed_in? %>
    <div class="col-3 card card float-right" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text"><%= render 'member/members/info', member: @member, post: @post %></p>
      </div>
    </div>
    <% end%>

    <div class= "col-6 m-0 p-0 mx-auto">
    　<h2>ハッシュタグ"<%= @tag.name%>"一覧</h2>
        <table class="table table-hover ">
          <% @posts.each do |post| %>
          <tbody>
	  	   	  <tr>
              <td>
                <%= post.created_at.strftime('%Y/%m/%d') %>に投稿<%= link_to member_path(post.member) do %><%= post.member.name %><% end %><br>
                <%= link_to post_path(post.id) do %><strong><%= post.title %></strong><% end %><br>
                <i class="fas fa-heart" style="color :#FF0033;"></i><%= post.favorites.count %><br>
                <%= render_with_hashtags(post.tags) %>
              </td>
              <% if member_signed_in? %>
              <% if post.member.id == current_member.id %>
            　<td><%= link_to "編集", edit_post_path(post), class:"btn btn-success float-right" %></td>
            　<% end %>
            　<% end %>
	  	  	  </tr>
  	  	  </tbody>
  	  	<% end %>
      </table>
      <div class='kaminari '>
      <%= paginate @posts %>
      </div>
    </div>

    <div class="col-2 card card float-right" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><strong>ジャンル</strong></h5>
        <p class="card-text"><%= render 'homes/genre', genres: @genres %></p>
      </div>
    </div>
  </div>
</div>