<table class='table table-hover'>
  <% posts.each do |post| %>
    <tbody>
      <tr>
        <td>
          <%= post.created_at.strftime('%Y/%m/%d') %>に投稿 <%= post.member.name %><br>
          <%= link_to post_path(post.id) do %><strong><%= post.title %></strong><% end %><br>
          ♥<%= post.favorites.count %><br>
          <%= render_with_hashtags(post.tags) %>
        </td>
        <% if post.member.id == current_member.id %>
        <td><%= link_to "編集", edit_post_path(post), class:"btn btn-success float-right" %></td>
        <% end %>
	   </tr>
    </tbody>
    <% end %>
</table>